* {
	box-sizing: border-box;
	font-family: 'Roboto';
	font-weight: 400;
}

html,
body {
	font-size: 18px;
	min-width: 100vw;
	display: flex;
	flex: 1;
}

#root {
	flex: 1;
}

.container {
	padding: env(safe-area-inset-top) env(safe-area-inset-right)
		env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@supports (padding: max(0px)) {
	body,
	html,
	header,
	footer {
		padding-left: min(0vmin, env(safe-area-inset-left));
		padding-right: min(0vmin, env(safe-area-inset-right));
	}
}
