$colors: (
  black: #0f0f0f,
  light-grey: #bbb,
  grey: #888,
  dark-grey: #333,
  white: #f0f0f0,
  light-purple: #9b48db,
  purple: #662d91,
  dark-purple: #401560,
  light-green: #77af38,
  green: #598527,
  dark-green: #006815,
);
