.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
  justify-content: space-around;

  h1 {
    color: map-get($colors, white);
    font-weight: 700;

    span {
      color: map-get($colors, light-purple);
    }
  }
  .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      color: map-get($colors, light-purple);
      margin-bottom: 1rem;
      margin-top: 3rem;
      padding-left: 1rem;
      &:first-of-type {
        margin-top: 0rem;
      }
    }
    input {
      @include input-styles;
    }
  }
  .terms {
    display: flex;
    p {
      margin: 0 5px;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  .gradient-button {
    @include gradient-background;
    @include button-styles;
  }
  .footer {
    display: flex;
    font-size: 1.25rem;
    p {
      margin-right: 5px;
    }
  }
}
